language: php

sudo: false

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  allow_failures:
    - php: hhvm
    - php: 7.0
    - php: 5.3
    - php: 5.4
    - php: 5.5
  fast_finish: true

cache:
  directories:
    - $HOME/.composer/cache

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
